// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

header[role=banner] {
  background-image: url(/images/hieroglyphs.jpg);
  h1, h2 {
    display: block;
    float: left;
    clear: left;
    background-color: rgba(51,51,51,.8);
    padding-left: 10pt;
    padding-right: 10pt;
    @include border-radius(.5em);
  }
}

.do-not-show {
  visibility: hidden;
}