// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

header[role=banner] {
  background-image: url(/images/hieroglyphs.jpg);
  h1, h2 {
    display: block;
    float: left;
    clear: left;
    background-color: rgba(51,51,51,.8);
    padding-left: 10pt;
    padding-right: 10pt;
    @include border-radius(.5em);
  }
}

// Docco styles

.docco-section-end {
  display: none;
}

#docco {
  figcaption, .gutter {
    display: none;
  }
}

#docco.collapse-sidebar {
  article {
    padding-right: 20px;
    @include background-image(linear-gradient(left, transparent 520px, $pre-bg 520px));
  }
  article > h1,
  article > h2,
  article > h3,
  article > h4,
  article > h5,
  article > h6,
  article > p,
  article > pre {
    float: left;
    clear: left;
    max-width: 450px;
    min-width: 450px;
    padding-right: 20px;
  }
  figure {
    float: left;
    clear: right;
    @include single-box-shadow(transparent);
    div.highlight {
      border: none !important;
      background: none !important;
      code {
        background: none !important;
      }
    }
  }
  .docco-section-end {
    display: block;
    clear: both;
  }
}
